.techSlideshow {
  height: 280px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border:0;
}

.mover1 {
 
  width: 1200px;
  
  position: absolute;
  overflow-x:hidden;
  top: 0;
  left: 0;

  animation: moveSlideshow 12s linear infinite;
}

.Section2AnitmationImages {
  display:inline-block;
  vertical-align:middle;
   height: 280px;
  padding-left: 10px;
  margin:0;
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-624px);  
  }
}