.Section4Parent{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  margin-left: 5vw;
}

.Section4FlexDiv{
  flex: 0 0 50%;
  // width: 100%;
}

.fontstyleouter {
  font-family: "Inter";
  font-weight: normal;
  color: white;
  font-size: 4.5vw;
  line-height: 25px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  @media (max-width: 400px) {
    line-height: 20px;
  }
}

.fontstyleinner {
  background: linear-gradient(270.22deg, #b50eae 42.24%, #e32a34 99.91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  position: relative;
}

.suit {
  position: absolute;
  right:-12vw;
  top: -4vw;
  width: 10vw;
}

.globe {
  position: relative;
  left: -40px;
  width: 125%;
  @media (max-width: 400px) {
    left: -30px
  }
  // height: 100%;
}
