.Section4Parent{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.Section4FlexDiv{
  flex: 0 0 50%;
  // width: 100%;
}

.fontstyleouter {
  font-family: "Inter";
  font-weight: normal;
  color: white;
  font-size: 4.5vw;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.fontstyleinner {
  background: linear-gradient(270.22deg, #b50eae 42.24%, #e32a34 99.91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  position: relative;
}

.suit {
  position: absolute;
  right:-12vw;
  top: -4vw;
  width: 10vw;
}

.globe {
  width: 100%;
  height: 100%;
}
