.globeImg{
    width: calc(100vw * (1025/1728));
    margin-top: 40px;
    /* margin-right: calc(100vw * (331/1728)); */
  }
  .globeImgDiv{
text-align: center;
  }
  
  .bottomText {
    color: white;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: calc(100vw * (18 / 1728));
    margin: 0 4%;
  }
  
  @media (max-width: 768px){
    .bottomText {
      font-size: 12px;
    }
  }
  
  @media screen and (min-width: 1526px) {
    .lastGlobe{
      width: 905px;
    }
  }