.globeImg {
  position: relative;
  width: calc(100vw * (1025 / 1728));
  margin-top: 40px;
  
  /* margin-right: calc(100vw * (331/1728)); */
  @media (min-width: 991px) {
    max-width: 750px;
  }
  @media (max-width: 990px) {
    top: -45px;
    width: 55rem;
    left: -95px;
  }
  @media (max-width: 900px) {
    width: 50rem;
    left: -50px;
  }
  @media (max-width: 800px) {
    width: 45rem;
    left: -10px;
  }
  @media (max-width: 767px) {
    left: 0px;
    top: 0px;
    width: calc(100vw * (1025 / 1728));
  }
}
.globeImgDiv {
  text-align: center;
}
.FooterBar{
margin-top: -30px;
/* overflow-x: hidden; */
}
.footerimage2 {
  position: absolute;
  width: 120px;
  left: -125px;
  top:-10px;

}

.bottomText {
  cursor: pointer;
  position: relative;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: calc(100vw * (24 / 1728));
  margin: 0 4%;
  @media (max-width: 990px) {
    font-size: calc(100vw * (30 / 1728));
  }
  @media (max-width: 768px) {
    font-size: 12px;
  }

  @media (max-width: 400px) {
    font-size: 10px;
  }
  
}

.footerContentsSection {
  text-align: center; 
  margin: 3% 0;
}

.footerContentsDiv {
  position: relative;
  @media (max-width: 990px) {
    top: -1rem; 
  }
  @media (max-width: 767px) {
    top: 0px;
  }
}

.footerIcon {
  text-align: center;
}

.footerImg {
  width: calc(100vw * (376/1728));
}

@media (max-width: 768px) {
  // .bottomText {
  //   font-size: 12px;
  // }
  .footerimage2 {
    display: none;
  
  }
}

@media screen and (min-width: 1526px) {
  .lastGlobe {
    width: 905px;
  }
}