.globeImg {
  width: calc(100vw * (1025 / 1728));
  margin-top: 40px;
  max-width: 750px;
  /* margin-right: calc(100vw * (331/1728)); */
}
.globeImgDiv {
  text-align: center;
}
.FooterBar{
margin-top: -30px;
/* overflow-x: hidden; */
}
.footerimage2 {
  position: absolute;
  width: 120px;
  left: -125px;
  top:-10px;

}

.bottomText {
  cursor: pointer;
  position: relative;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: calc(100vw * (14 / 1728));
  margin: 0 4%;
}

@media (max-width: 768px) {
  .bottomText {
    font-size: 12px;
  }
  .footerimage2 {
    display: none;
  
  }
}

@media screen and (min-width: 1526px) {
  .lastGlobe {
    width: 905px;
  }
}