@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.containerForm {
  z-index: 2;
  padding-top: 40px;
  box-sizing: border-box;

  margin-left: 20px; 
}

.forgot {
  background-color: transparent;
  color: aliceblue;
  position: relative;
  top: 10px;
  border: none;
}

.buttonForm {
  font-style: Inter;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(90deg, #e32a36 0%, #b50eae 95.14%);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.56);
  color: white;
  height: 50px;
  width: 30%;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 400;
  transition: 0.5s;
  @media (max-width: 578px) {
    width: 30%;
    border-radius: 22.5px;
    height: 35.34px;
    margin-left: auto;
    margin-right: auto;
    font-style: bold;
  }
}

.emailLabel{
  font-family: 'Inter';
  margin-bottom: 6px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
}

.buttonForm:hover {
  box-shadow: none;
}
