.navButtons {
    background-color: #7ed957;
    border-radius: 2rem;
    display: inline;
    transform: translateY(20%);
  }

  .logoImage {
    height: 50px;
  }

  .btn:focus, .btn:active {
    outline: none !important;
    box-shadow: 0px 0px 0 2.5px black !important;
  }

  .a:focus, .a:active {
    outline: none !important;
  }

  .Toggler:focus, .Toggler:active {
    box-shadow: 0px 0px 0 1.5px #ff5757 !important;
  }