.prof_picture{
    position: absolute;
    border-radius: 50%;
    width: 207px;
    height: 207px;
    border: 10px solid rgba(217, 217, 217, 0.32);
    left: calc((50/1100)*100%);
    top: -103px;
}