.tw {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-top: 70px;
}
.travel {
  height: calc(100vh * (80 / 1560));
}

.world {
  margin-top: 3px;
  height: calc(100vh * (65 / 1560));
}
.bigplace {
  margin-left: 7%;
  margin-top: 5%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: calc(100vw * (30 / 1728));
  line-height: 40px;
  color: #ffffff;
}
.fontstyleinner {
  background: linear-gradient(270.22deg, #b50eae 42.24%, #e32a34 99.91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.dot {
  height: 10px;
  width: 10px;

  margin-left: 5%;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
}

.line3 {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 2px;
  width: calc(100vw * (256 / 1728));
  background-color: #ffffff;
  /* border-radius: 50%; */
  display: inline-block;
}
.sun1 {
  height: calc(100vw * (310 / 1560));
}

.sun2 {
  height: calc(100vw * (310 / 1560));
  margin-left: calc(100vw * (170 / 1560));
  margin-top: 60px;
}

.sun3 {
  margin-left: calc(100vw * (350 / 1560));
  margin-top: 10px;
  height: calc(100vw * (310 / 1560));
}

.sun4 {
  height: calc(100vw * (310 / 1560));
  margin-left: calc(100vw * (520 / 1560));
  margin-top: 60px;
}

.sunb {
  margin-left: 35vw;
  margin-top: -80px;
  height: calc(100vw * (150 / 1560));
}
.white {
  margin-top: 130px;
  background: #fdfdfd;
  border-radius: 30px;
  width: calc(100vw * (1055 / 1728));
}

.whitep {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 85%;
  padding: 4% 6%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: calc(100vw * (20 / 1728));
  line-height: 30px;
  color: black;
}
.whites {
  background: linear-gradient(90deg, #e32a34 0%, #b50eae 21.41%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.polar1 {
  width: calc(100vw * (247 / 1728));
  position: absolute;
  left: calc(100vw * (-50 / 1560));
  top: 40px;
}

.polar2 {
  width: calc(100vw * (247 / 1728));
  position: absolute;
  left: calc(100vw * (175 / 1560));
  z-index: 0;
}

.polar3 {
  width: calc(100vw * (247 / 1728));
  position: absolute;
  left: calc(100vw * (93 / 1560));
  top: 170px;
}

.polar4 {
  width: calc(100vw * (247 / 1728));
  position: absolute;
  left: calc(100vw * (323 / 1560));
  top: 130px;
}

.globe1 {
  width: 147px;
  position: absolute;
  left: calc(100vw * (395 / 1560));
  z-index: 1;
}

.hotAirBalloon {
  width: calc(100vw * (98 / 1728));
  position: absolute;
  left: calc(100vw * (-120 / 1560));
  top: 250px;
  z-index: 1;
}
@media screen and (min-width: 1526px) {
  .bigplace {
    font-size: 27px;
  }
  .sun1 {
    height: 305px;
  }
  .sun2 {
    height: 305px;
    margin-left: 165px;
    margin-top: 60px;
  }

  .sun3 {
    margin-left: 350px;
    margin-top: 10px;
    height: 305px;
  }

  .sun4 {
    height: 305px;
    margin-left: 520px;
    margin-top: 60px;
  }

  .sunb {
    margin-left: 520px;
    margin-top: -80px;
    height: 147.5px;
  }
  .white{
    width: 938px;
  }
  .whitep {
    font-size: 17.6px;
    width: 85%;
  }
  .polar1 {
    width: 220px;
    position: absolute;
    left: -50px;
    top: 40px;
  }

  .polar2 {
    width: 220px;
    position: absolute;
    left: 175px;
    z-index: 0;
  }

  .polar3 {
    width: 220px;
    position: absolute;
    left: 93px;
    top: 170px;
  }

  .polar4 {
    width: 220px;
    position: absolute;
    left: 323px;
    top: 130px;
  }

  .globe1 {
    width: 147px;
    position: absolute;
    left: 395px;
    z-index: 1;
  }

  .hotAirBalloon {
    width: 87px;
    position: absolute;
    left: calc(100vw * (-120 / 1560));
    top: 250px;
  }
}
