.pageContainer {
  position: relative;
  margin-top: 11%;
  text-align: center;
}

.cardSection {
  margin-top: 10%;
}

.card {
  position: relative;
  z-index: 10;
}

.textDiv {
  position: absolute;
  width: 12rem;
  top: 125px;
  left: 40px;
  @media (min-width: 1450px) {
    top: 135px;
    width: 15rem;
  }
  @media (max-width: 1400px) {
    top: 110px;
  }
  @media (max-width: 1200px) {
    left: 30px;
    top: 120px;
    width: 10rem;
  }

}

.cardDiv {
  width: 250px;
  height: calc(100vw * (110/420));
  position: relative;
  background: #CFDBE6;
  mix-blend-mode: lighten;
  opacity: 0.55;
  box-shadow: inset -10px -3px 5px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(180px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 50px;
  padding: 125px 20px 50px 20px;
  z-index: 0;
  @media (min-width: 1450px) {
    height: 450px;
    width: 300px;
  }
  @media (max-width: 1400px) {
    height: calc(100vw * (110/420));
  }
  @media (max-width: 1300px) {
    height: calc(100vw * (120/420));
  }
  @media (max-width: 1200px) {
    height: calc(100vw * (140/420));
    width: 200px;
  }
  @media (max-width: 1100px) {
    height: calc(100vw * (150/420));
  }
}

.cardText {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 30px;
  /* or 143% */

  text-align: left;

  color: #FFFFFF;
  @media (min-width: 1500px) {
    line-height: 34px;
    font-size: 1.5rem;
  }
  @media (max-width: 1200px) {
    line-height: 28px;
  }
}

.destImg1 {
  position: absolute;
  left: -20px;
  top: -70px;
  text-align: center;
  height: calc(100vw * (55/420));
  z-index: 1;
  @media (min-width: 1500px) {
    height: 250px;
    top: -140px;
    left: -30px;
  }
  @media (max-width: 1200px) {
    height: calc(100vw * (60/420));
    top: -50px;
  }
  @media (max-width: 1100px) {
    top: -30px;
  }
}

.destImg2 {
  position: absolute;
  left: -50px;
  top: -50px;
  text-align: center;
  height: calc(100vw * (43/420));
  @media (min-width: 1500px) {
    height: 180px;
    top: -80px;
    left: -10px;
  }
  @media (max-width: 1200px) {
    height: calc(100vw * (48/420));
    top: -30px;
  }
  @media (max-width: 1100px) {
    top: -10px;
  }
}

.destImg3 {
  position: absolute;
  left: -10px;
  top: -70px;
  text-align: center;
  height: calc(100vw * (50/420));
  @media (min-width: 1500px) {
    height: 230px;
    top: -120px;
    left: -10px;
  }
  @media (max-width: 1200px) {
    height: calc(100vw * (55/420));
    top: -50px;
  }
  @media (max-width: 1100px) {
    top: -20px;
  }
}


.destImg4 {
  position: absolute;
  left: 5px;
  top: -80px;
  text-align: center;
  height: calc(100vw * (55/420));
  @media (min-width: 1500px) {
    height: 250px;
    top: -140px;
    left: -5px;
  }
  @media (max-width: 1200px) {
    height: calc(100vw * (60/420));
    top: -60px;
  }
  @media (max-width: 1100px) {
    top: -40px;
  }
}

.headeasy {
  font-family: "Inter";
  font-style: normal;
  color: #ffffff;
  font-weight: 600;
  font-size: calc(0.01719 * (100vw) + 20px);
}
.sglobe {
  height: calc(100vw * (125 / 1560));
}
.love1 {
  background-image: linear-gradient(
    90deg,
    #b50eae 21.48%,
    rgba(227, 42, 52, 0.94) 86.58%
  );
  background-clip: text;
  color: transparent;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: calc(0.01719 * (100vw) + 20px);
}
.column {
  margin: 3.5%;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .column {
    margin-top: 15%;
  }
}
.destcard {
  position: relative;
  width: min-content;
}
.destcard1 {
  height: 350px;
  padding: 0 20px;
  text-align: center;
  justify-content: center;
  width: 250px;
  background: rgba(207, 219, 230, 0.55);

  mix-blend-mode: lighten;
  box-shadow: inset -10px -3px 5px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(360px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 50px;
}
.destcardimg2 {
  position: absolute;
  left: calc(100vw * (180/1380));
  top: -15px;
  z-index: 1;

  text-align: center;
  justify-content: center;
  width: calc(100vw * (264 / 1760));
}
.destcardp {
  font-weight: 500;
  font-size: calc(100vw * (21 / 1728));
  line-height: calc(100vw * (30 / 1728));
  color: #ffffff;
  opacity: 1 !important;
  top: 100px;
  position: relative;

}
@media screen and (max-width: 1400px) and (min-width: 1300px) {
  .destcard1 {
    width: calc(100vw * (250 / 1560));
  }
}
@media screen and (max-width: 1300px) {
  .destcard1 {
    width: 210px;
  }
  .destcardimg {
    height: 198px;
    top: -120px;
  }
  .destcardimg2 {
    width: 166px;
  }
}
@media screen and (max-width: 1100px) {
  .destcardp {
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
    opacity: 1 !important;
    top: 80px;
    position: relative;
  }
}
