.container {
    width: calc((256/332)*100%);
    margin-left: calc((38/332)*100%);
    background: #282828;
    box-shadow: 18px 25px 40px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding-left: calc((24/256)*100%);
    padding-top: 15px;
    padding-bottom: 21px;
    margin-bottom: 28px;
}
.clock {
    margin-right: 8px;
}

.activity_word {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}