.question {
    width: calc((326/360)*100%);
    margin: auto;
    position: relative;
    margin-bottom: 40px;
    z-index: 999;
}

.header {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 7px;
}


.view {
    position: absolute;
    bottom: 0px;
    right: 5%;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: #282828;
    border: none;
}

