@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica/Helvetica.ttf");
  font-style: normal;
  font-display: swap;
}


html,
body {
  background-color: white;
  padding: 0;
  margin: 0;
  width: 100vw;
  max-width: 100vw !important;
  overflow-x: hidden  !important;
  font-family: Helvetica;
}

a {
  color: inherit;
  text-decoration: none;
}

/* * {
  box-sizing: border-box;
} */

.mde-header {
  background-color: #fff!important;
  border-bottom: 0!important;
}

.react-mde {
  border: 0!important;
}

.mde-preview-content {
  border: 2px solid black!important;
  border-radius: 15px!important;
  min-height: 250px!important;
}

.mde-tabs button.selected {
  border: 2px solid black!important;
  border-radius: 15px!important;
  padding-bottom: 0!important;
}