.LogInImageStyle {
  filter: brightness(100%);
  position: relative;
  z-index: 1;
  object-fit: cover;
  object-position: 50% 65%;
  height: 100vh;
  width: 100%;
}

.divOfLogInPage {
  overflow: hidden;
  position: relative;
}



.bkimg {
  background: linear-gradient(
    90deg,
    rgba(227, 42, 54, 0.9) 0%,
    rgba(181, 14, 174, 0.9) 100%
  );
  box-shadow: 40px 4px 60px rgba(0, 0, 0, 0.41);
  height: 40vh;
  width: 100%;
  @media (min-width: 578px) {
    height: 100vh;
    width: 100%;
  }

  @media (max-width: 578px){
    display: none;
  }
}

.In {
  background: linear-gradient(90deg, #e32a36 27.78%, #b50eae 68.89%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  @media (max-width: 578px) {
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
.In2 {
  background: linear-gradient(90deg, #e32a36 27.78%, #b50eae 68.89%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.cirText {
  position: absolute;
  top: 45vh;
  left: 46.5vw;
  fill: currentColor;
  height: auto;
  max-width: 2vmin;
  transform-origin: center;
  width: 66%;
}

.container {
  color: transparent;
  text-align: center;
  width: 5%;
  @media (min-width: 578px) {
    transform: rotate(90deg);
    width: 80%;
  }
}

.toggle_switch {
  position: relative;
  width: 550px;
  display: inline-block;
  text-align: left;
  @media (max-width: 578px) {
    width: 120px;
    text-align: right;
  }
}

.checkbox {
  display: none;
}

.label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  border-radius: 160px;
}

.inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.inner:before,
.inner:after {
  float: left;
  width: 50%;
  height: 274px;
  padding: 0;
  line-height: 274px;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
  @media (max-width: 578px) {
    height: 50px;
    line-height: 50px;
  }
}

.intext {
  margin-top: 100px;
  transform: rotate(-90deg);
  @media (max-width: 578px) {
    margin-top: 7px;
    margin-right: 25px;
    margin-left: 0px;
    transform: rotate(0deg);
  }
}

.inner:before {
  content: "";
  padding-left: 10px;
  background: #2f2f2f;
  box-shadow: inset 40px 40px 60px rgba(0, 0, 0, 0.41);
  color: #fff;
}

.inner:after {
  content: "";
  padding-right: 10px;
  background: #2f2f2f;
  box-shadow: inset 40px 40px 60px rgba(0, 0, 0, 0.41);
  color: #fff;
  text-align: right;
}

.switch {
  display: block;
  width: 265px;
  margin: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 275px;
  border: 0 solid #bbb;
  border-radius: 160px;
  transition: all 0.2s ease-in 0s;
  @media (max-width: 578px) {
    width: 40px;
    right: 70px;
  }
}

.checkbox:checked + .label .inner {
  margin-left: 0;
}

.checkbox:checked + .label .switch {
  right: 0px;
}

.RegisterLink {
  color: black;
  font-size: 50px;
  padding-left: 20%;
  @media (max-width: 578px) {
    font-size: 11px;
    padding-left: 15%;
  }
}

.LoginLink {
  color: black;
  font-size: 50px;
  padding-left: 30%;
  @media (max-width: 578px) {
    font-size: 15px;
    padding-left: 20%;
  }
}

.Logintop {
  margin-top: 23vh;
  @media (max-width: 578px) {
    margin-top: -8vh;
  }
}

.Regtop {
  margin-top: 8vh;
  @media (max-width: 578px) {
    margin-top: -8vh;
  }
  @media (min-width: 1750px) {
    margin-top: 20vh;
  }
}

.Toggletop {
  margin-top: 34vh;
  @media (max-width: 578px) {
    margin-left: 57vw;
    margin-top: 15vh;
    display: none;
  }
}
