.flexContainer{
    width: 100%;
    display: flex;
}
.voteDiv{
    height: "45px";
    width: "10px";
}
.topRowDiv{
    width: "10px"; 
    padding: "0px";
}
.createrImageDiv{
    width: "28px";
    margin-right: 5px;

}
.linkDiv{
    width: "200px";
    display: "inline-block";
    padding-left: "8px";
}
.timerDiv{
    width: "150px";

}
.timer{
    margin-left: "3px";
    font-size: "16px";
    font-weight: "400";
}
.eyeDiv{
    width: "120px";
}
.eyeText{
    margin-left: "5px";
    font-size: "16px";
    font-weight: "400";
}

@media (max-width: 768px) {
    .voteDiv{
        max-width: "10vw";
        min-width: "10vw";
        margin-top: "43px";
        margin-left: "-10px";
    }
    .topRowDiv{
        width: "10px";
        padding: "0px"; 
        margin-left: "-10px";
    }
    .eyeDiv{
        display: inline-block;
        width: 50%;
        /* margin-right: 90px; */
    }
    .eyeText{
        font-size: "16px";
        font-weight: "400";
    }
    .timerDiv{
        display: inline-block;
        width: 50%;
        text-align: right;
    }
    .timer{
        font-size: "16px";
        font-weight: "400";
    }
}
/* @media (max-width: 320px) {
    .timerDiv{
        left: 50px;
    }
}
@media (max-width: 390px) {
    .timerDiv{
        left: 100px;
    }
} */