@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

.profileContainer {
  width: 100vw !important;
  margin: auto;
  margin-top: 100px;
  max-width: 1000px;
  padding: 10px;
}

.colCard {
  border-radius: 50px;
  border: 2px solid black;
  padding: 20px;
  margin-bottom: 30px;
  height: 100%;
}

.profileCol {
  margin-bottom: 30px;
}

.statsContainer {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.avatar {
  width: 100%;
  max-height: 300px;
}

.button {
  margin: 10px;
  margin-left: 0;
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;
  padding: 1px 10px;
  display: inline-block;
}

.button:hover {
  transform: scale(1.05);
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 1px 1px 2.5px grey, -1px -1px 2.5px grey;
}

.repText {
  font-size: 20px;
}

.username {
  font-size: 40px;
}

.date {
  color: rgba(180, 180, 180, 1);
  font-size: 14px;
  transform: translateY(-4px);
}

.toprow {
  margin-top: 196px;
}
.profileImg {
  margin-top: -5px;
  margin-left: -4px;
  height: 200px;
  width: 200px;

  border-width: 1px;
  border-radius: 50%;
}
@media only screen and (max-width: 991px) {
  .imgBorder {
    border-radius: 50%;
    border-radius: 120px;
    border-width: 2px;
    border-color: aliceblue;
    border-style: dashed;
    width: 220px;
    height: 220px;
    padding-top: 12px;
    margin-left: auto;
    margin-right: auto;
  }
}
.imgBorder {
  border-radius: 50%;
  border-radius: 120px;
  border-width: 2px;
  border-color: aliceblue;
  border-style: dashed;
  width: 220px;
  height: 220px;
  padding-top: 12px;
}
.nameRow {
  margin-top: 30px;
}
.emptybox1 {
  width: 27px;
}
@media only screen and (max-width: 991px) {
  .emptybox1 {
    width: 0;
  }
}
.name {
  font-family: 'Sen';
  font-style: normal;
  font-size: 36px;
  text-transform: capitalize;
}
@media only screen and (max-width: 991px) {
  .name {
    margin: 0 auto;
    width: 50%;
    text-align: center;
  }
}
.imgWrap {
  padding-top: 2px;
  padding-right: 5px;
}
.middleRow {
  padding: 10px 0 20px;
}
.medalRow {
  margin-top: 81px;
}

.buttonEdit {
  width: 200px;
  height: 40px;
  border-radius: 8px;
  background-image: linear-gradient(284.11deg, #e42833 20.44%, #b50eae 129.2%);
  color: aliceblue;
}
@media only screen and (max-width: 991px) {
  .button1 {
    margin: 0 auto;
    width: 50%;
    text-align: center;
  }
}
.medalWrap {
  display: flex;
  margin-top: 81px;
}
.medalbox {
  width: 530px;
  height: 323px;
  border-radius: 16px;
  background-color: black;
  margin: 0 auto;
  color: aliceblue;
  margin-bottom: 5%;
}
.medalbox1 {
  width: 530px;
  height: 323px;
  border-radius: 16px;
  background-color: black;
  margin: 0 auto;
  margin-bottom: 5%;
}
.smallBox {
  width: 53px;
  height: 43px;
  background-image: linear-gradient(116.6deg, #b50eae -56.74%, #e42833 135.97%);
  border-radius: 4px;
}
.chart {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.gradientText {
  background-image: linear-gradient(200.73deg, #e42833 45.4%, #b50eae 55.32%);
  color: transparent;
  background-clip: text;
}
.chartBox {
  width: 89px;
  height: 33px;
  background-image: linear-gradient(
    280.85deg,
    #e42833 -26.64%,
    #b50eae 132.86%
  );
  border-radius: 4px;
  text-align: center;
  padding-top: 5px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
