@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


.ParentDiv {
  width: 100vw !important;
  margin-top: 150px;
  padding-bottom: 100px;
}

.RegisterHeadingRow {
  margin-bottom: 100px;
}

.mainHeading {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

.FirstNameRow {
  margin-top: 20px;
}

.LastNameRow {
  margin-top: 20px;
}

.emailRow {
  margin-top: 20px;
}

.passwordRow {
  margin-top: 20px;
  margin-bottom: 20px;
}


.firstNameDiv {
  max-width: 800px;
}

.lastNameDiv {
  max-width: 800px;
}

.emailDiv {
  max-width: 800px;
}

.passwordDiv {
  max-width: 800px;
}


.buttonDiv {
  max-width: 800px;
}

.firstNameInput {
  border-radius: 4px;
  border: 2px solid black;
  height: 43px;
  padding-left: 10px;
  width: 80%;
  line-height: 45px;
  background-color: black;
  color: white;
  @media (max-width: 578px) {
    width: 100%;
    height: 43px;
  }
}

.firstNameInput:focus {
  outline: none;
}

.emailInput {
  border-radius: 4px;
  border: 2px solid black;
  padding-left: 10px;
  width: 80%;
  line-height: 45px;
  background-color: black;
  color: white;
  @media (max-width: 578px) {
    width: 100%;
  }
}

.emailInput:focus {
  outline: none;
}

.passwordInput {
  border-radius: 4px;
  border: 2px solid black;
  padding-left: 10px;
  width: 80%;
  line-height: 45px;
  background-color: black;
  color: white;
  @media (max-width: 578px) {
    width: 100%;
  }
}

.passwordInput:focus {
  outline: none;
}

.lastNameHeading {
  margin-bottom: 8px;
}

.emailHeading {
  margin-bottom: 8px;
}

.passwordHeading {
  margin-bottom: 8px;
}

.underlineGreen {
  box-shadow: inset 0 -20px 0 0 #7ed957;
}

.underlineRed {
  box-shadow: inset 0 -20px 0 0 #ff5757;
}

.Notification {
  max-width: 800px;
  background-color: #ff5757;
  height: 50px;
  border-radius: 15px;
}

.DatePickerCustomStyle {
  border-radius: 4px;
  border: 2px solid black;
  padding-left: 10px;
  width: 80%;
  max-width: 800px;
  text-align: start;
  line-height: 45px;
  background-color: black;
  color: white;
  @media (max-width: 578px) {
    width: 100%;
  }
}

.DatePickerCustomStyle:focus {
  outline: none;
}

.postButton {
  background-color: white;
  border: 2px solid black;
  width: 100px;
  border-radius: 15px;
}

.bkimg {
  background: linear-gradient(90deg, rgba(227, 42, 54, 0.9) 0%, rgba(181, 14, 174, 0.9) 100%);
  box-shadow: 40px 4px 60px rgba(0, 0, 0, 0.41);
  height: 100vh;
  width: 100%;
}

.In {
  background: linear-gradient(90deg, #E32A36 27.78%, #B50EAE 68.89%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  @media (max-width: 578px) {
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.buttonForm {
  padding: 0;
  border: none;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  box-sizing: border-box;
  margin-top: 15px;
  background: linear-gradient(90deg, #E32A36 0%, #B50EAE 95.14%);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.56);
  color: white;
  height: 45px;
  width: 30%;
  border-radius: 22.5px;
  cursor: pointer;
  font-weight: 400;
  transition: 0.5s;
  @media (max-width: 578px) {
    margin-bottom: 10px;
    width: 100%;
    border-radius: 4px;
    height: 35.34px;
    margin-left: auto;
    margin-right: auto;
    font-style: bold;
  }
}

.buttonForm:hover {
  box-shadow: none;
}
.cirText{
  position: absolute;
  top: 40%;
  left: 45.5%;
  fill: currentColor;
  height: auto;
  max-width: 2vmin;
  transform-origin: center;
  width: 66%;
}