.questionsList {
  width: calc(100vw * (1227/1728));
  height: calc(100vw * (350/1728));
  background-image: url(../public/searchBackground.png);
  margin: 125px auto 100px;
  background-size: 100% 100%;
}

.SearchVector {
  display: none;
}

@media (max-width: 768px) {
  .questionsList{
    background-image: none;
    width: 100vw;
    height: 50px;
    margin: 100px auto 70px;
  }
  .SearchVector {
    display: inline;
    width: 70%;
    margin: 20px 10% 4% 16%;
  } 
}



.gridnewbox {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.MainHeading {
  font-size: 50px;
  font-weight: 800;
  margin-top: 0px;
  margin-bottom: 50px;
  /* box-shadow: inset 0 -20px 0 0 red; */
}

.title {
  font-size: 36px;
}

.inputOuter {
  border: 2px solid black;
  width: 80%;
  background: #121212;
  border-radius: 36px;
  height: 37px;
}

.mobileInput {
  padding-left: 10px;
  width: 90%;
  margin-bottom: 40px;
  margin-right: 10px;
  margin-top: 25px;
  background: #000000;
  border-radius: 12px;
  height: 45px;
}

.Input {
  padding-left: 25%;
  width: 87%;
  margin-top: 2px;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 10px;
  background: #000000;
  height: 35px;
  border: none;
  color: white;
  /* word-wrap: break-word;
  word-break: break-all;
  word-wrap: break-word;
  overflow-wrap: break-word; */
}

.underline {
  box-shadow: inset 0 -20px 0 0 #ff5757;
}
.underlineGreen {
  box-shadow: inset 0 -20px 0 0 #7ed957;
}

.searchbox {
  width: calc(100vw * (600/1728));
  height: calc(100vw * (40/1728));
  margin: calc(100vw * (140/1728)) auto calc(100vw * (100/1728));
  justify-content: center;
  border-width: 0cm;
}

@media (max-width: 768px){
  .searchbox {
    margin-top: 0;
    width: 93%;
    height: 50px;
    background-color: #121212;
    border-width: 0cm;
    border-radius: 8px;
  }
}

.ImgQues {
  margin-top: 30px;
  padding-right: 1.2em;
  position: relative;
  margin-left: 60%;
}
.ImgQues1 {
  margin-top: 17px;
  margin-left: 20px;
  margin-right: 5px;
}
.newSearchBox {
  display: flex;
  flex-direction: row;
  height: 50px;
  background-color: black;
  border-radius: 12px;

}
.searchInput {
  width: 100%;
  height: 40px;
  margin-top: 0px;
  background-color: #121212;
  border-width: 0;
  color: aliceblue;
  padding-left: 1rem;
  border: none;
  outline: none;
  border-radius: 8px;
  @media (max-width: 768px){
    background-color: black;
  }
}

@media screen and (min-width: 991px) {
  .searchbox {
    width: calc(100vw * (649/1728));
  }
}

.searchInput1 {
  width: 80%;
  height: 50px;

  background-color: black;
  border-width: 0;
  color: aliceblue;
  padding-left: 2.5em;
  border: none;
  outline: none;
}
.searchbutton {
  margin: 10px;
  margin-top: 20px;
  margin-left: 0;
  background-color: white;
  border: 2px solid black;
  width: 100px;
  border-radius: 15px;
}

.searchtext {
  font-size: 25px;
  color: black;
  margin: 10px;
  margin-left: 0;
}
.load {
  margin: auto;
  text-align: center;
  display: inline-block;
  width: 80px;
  height: 80px;
}
.load {
  justify-content: center;
  display: inline-block;
  margin: auto;
  text-align: center;
  width: 80px;
  height: 80px;
}

.qbox {
  margin-bottom: 10px;
  padding: 10px;
}
.qcard {
  border-radius: 50px;
  border: 2px solid black;
  padding: 10px;
  margin: 12px;
  margin-bottom: 30px;
}

.qcard:hover {
  transform: scale(1.02);
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 2px 2px 5px grey, -2px -2px 5px grey;
}

.votebox {
  width: 100%;
  margin: 20px;
}
.voteText {
  font-size: 20px;
  font-weight: 800;
  margin: 10px 0;
  transform: translateY(5%);
}

.questionsList {
  padding: 10px;
  /* background: linear-gradient(274.53deg, #e42874 -38.82%, #b50eae 152.21%); */

  border-radius: 16px;
}
.category {
  padding: 2px 10px;
  margin-top: 10px;
  margin-right: 5px;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 800;
  color: white;
  background-color: #7ed957;
}
.catlist {
  display: flex;
}
.upVoteIcon {
  color: #7ed957;
  font-size: 30px;
  padding-bottom: 0;
}
.downVoteIcon {
  color: #ff5757;
  font-size: 30px;
  padding-bottom: 0;
}

.nopost {
  color: #ff5757;
  font-size: 35px;
  font-weight: 800;
  text-align: center;
}

.voteCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gridClass {
  margin-left: auto;
  margin-right: auto;
}
.wrapper {
  padding: 1rem 0.3rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: black;
  border-radius: 16px;
  border: 2px solid black;
  align-items: center;
  //   border-bottom: 1px solid rgba(112, 112, 112, 1);
  width: 400px;
  height: 316px;
  flex-direction: column;
  // @media (max-width: 724px) {
  //   align-items: flex-start;
  //   flex-direction: column;
  // }
}
.qtitle {
  font-size: 24px;
  line-height: 36px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: 24px;
}
@media (max-width: 560px) {
  .qtitle {
    margin-top: 15px;
  }
}
.timer {
  margin-right: auto;
  margin-left: 24px;
  // margin-bottom: auto;
  margin-top: 3px;
}
.timerImage {
  margin-top: 3px;
  height: 15px;
  width: 15px;
  display: inline;
}
.timerP {
  font-size: 14px;
  margin-left: 5px;
  margin-bottom: auto;
  display: inline;
}
.para {
  color: #aaaaaa;
  margin-left: 24px;
  margin-bottom: auto;
  margin-top: 7px;
  margin-right: auto;
}
.buttonRow {
  margin-bottom: 0;
}
.button1 {
  border-radius: 8px;
  background-color: #121212;
}
.votebox {
  width: 110px;
  height: 45px;
  padding-top: 10px;

  text-align: center;
  background-color: #121212;
  border-radius: 8px;
}
.listItem {
  //   font-family: "Poppins";
  //   font-style: normal;
  font-weight: 500;
  //   font-size: 14px;
  //   line-height: 21px;

  background-image: linear-gradient(284.11deg, #e42833 20.44%, #b50eae 129.2%);

  background-clip: text;
  color: transparent;
}
.submitButton {
  width: 160px;
  height: 40px;
  margin-top: 38px;
  border-width: 0;
  border-radius: 40px;
  font-weight: 500;
  font-size: 15px;
  color: aliceblue;
  background-image: linear-gradient(
    270deg,
    #b50eae 0%,
    #e32a34 100%,
    #e32a34 100%
  );
}
.london {
  transform: rotate(-50deg) !important;
  font-family: "Gloria Hallelujah", cursive !important;
  position: relative;
  top: -40%;
  left: -35%;
}

.body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media screen and (max-width: 450) {
  .london {
    position: relative;
    top: -40%;
    left: -27% !important;
  }
}

@media screen and (max-width: 400) {
  .london {
    position: relative;
    top: -40%;
    left: -22% !important;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .masonryGrid {
    margin-left: 10%;
  }
}

@media screen and (max-width: 990px) {
  .masonryGrid {
    margin-left: 20%;
  }
}
@media screen and (max-width: 760px) {
  .masonryGrid {
    margin-left: 10%;
  }
}
@media screen and (max-width: 560px) {
  .masonryGrid {
    margin-left: 3%;
    margin-right: auto;
  }
}
.textDiv{
  margin-top: 10px;
  margin-left: 10px;
  height: 30px;

}
.phoneText{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.phoneMark{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 24px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(90deg, #e32a34, #b50eae);
  background-clip: text;
  color: transparent;
}