.globeCol{
    padding: 0px;
}

.RowMainTextDiv{
  padding-left: 16px;
  padding-right: 16px;
}
.RowSubMainTextDiv{
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 40px;
}

.PaperPlane{
    display: inline-block;
    height:50px;
    width: 100px;
}
.ParentDiv{
    width: 100vw !important;
    padding-top: 100px;
    background-color: black;
  }
  
  .MainHeading{
    font-size: 64px;
    font-weight: 800;
    display:block;
    max-width: fit-content;
    margin-bottom:0 !important;
    padding: 0;
    background: -webkit-linear-gradient(0deg,#E32A34, #B50EAE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }


  .MainHeadingDiv{
    max-width: fit-content;
  }
  
  .MainHeading{
    margin-top: 0px;
    margin-bottom: 50px;
  }
  .MainSubHeading{
    color:#B0B0B0;
    font-size: 32px;
  }

.InputHeading{
  font-size: 24px;
  color: white;
  margin-bottom: 4px;
}
.InputHeadingDiv{
  max-width: 100%;
}
.InputStyle{
  background-color: black;
  border-radius: 4px;
  color:white;
  font-size: 24px;
  border: 2px solid white;
  padding-left: 10px;
  width: 100%;
}
.RowInput{
  margin-top: 24px;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}
.RadioButton {
  background-color:#bfb;
  border-color: #4c4;
}
.RadioButtonLabel {
  background-color:transparent;
  width:24px;
  height:24px;
  border:2px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.RadioButtonLabel .checkmark {
  width:calc(100%-2px);
  height:calc(100%-2px);
  border-radius: 50%;
  background-color: white;
  display: none;
}
.RadioButtonLabel input {
  display: none;
}

.RadioButtonLabel input:checked + .checkmark {
  width:14px;
  height:14px;
  background-color: white;
  display: inline-block;
}

.tableRowPadding{
  height: 50px;
}
.labelClassName{
  color: white;
  margin-left: 16px;
}

.grad {background-image: -webkit-linear-gradient(0deg,#E32A34, #B50EAE)}
.grad {
   
   padding: 8px 32px;
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   border-radius: 32px;
   border: 0px;
   display: block;
 }

 .grad:hover {
   background-position: center center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 .TravelScoreHeading{
   color: white;
   font-size: 64px;
   font-weight: bold;
 }
 .TravelScoreStarterHeading{
  color: white;
  font-size: 28px;
  font-weight: w100;
  text-align: center;
}
.ScoreCard{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.SpanScore{
  font-size: 16px;
}

.RowButtonCheckApp{
  margin-top: 24px;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
}


.gradRedirect {background-image: -webkit-linear-gradient(0deg,#E32A34, #B50EAE)}
.gradRedirect {
   
   padding: 8px 32px;
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   border-radius: 32px;
   border: 2px solid white;
   display: block;
 }

 .gradRedirect:hover {
   background-position: center center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }